.galery .quadro-1 {
    background: url(quadro-01.jpg);
    background-size: cover;
}

.galery .quadro-2 {
    background: url(quadro-02.webp);
    background-size: cover;
}

.galery .quadro-3 {
    background: url(quadro-03.avif);
    background-size: cover;
}

.galery .quadro-4 {
    background: url(quadro-04.jpg);
    background-size: cover;
}

.galery .quadro-5 {
    background: url(quadro-05.jpg);
    background-size: cover;
}

.galery .quadro-6 {
    background: url(quadro-06.jpg);
    background-size: cover;
}

.galery .quadro-7 {
    background: url(quadro-07.png);
    background-size: cover;
}

.galery .quadro-8 {
    background: url(quadro-08.jpg);
    background-size: cover;
}

.galery .quadro-9 {
    background: url(quadro-09.jpg);
    background-size: cover;
}

.galery .quadro-10 {
    background: url(quadro-10.jpg);
    background-size: cover;
}

.galery .quadro-11 {
    background: url(quadro-11.jpg);
    background-size: cover;
}

.galery .quadro-12 {
    background: url(quadro-12.jpg);
    background-size: cover;
}

.galery .quadro-13 {
    background: url(quadro-13.jpg);
    background-size: cover;
}

.galery .quadro-14 {
    background: url(quadro-14.jpg);
    background-size: cover;
}

.galery .quadro-15 {
    background: url(quadro-15.png);
    background-size: cover;
}

.galery .quadro-16 {
    background: url(quadro-16.jpg);
    background-size: cover;
}

.galery .quadro-17 {
    background: url(quadro-17.png);
    background-size: cover;
}

.galery .quadro-18 {
    background: url(quadro-18.png);
    background-size: cover;
}