.banner-sobre-content {
    width: 100%;
    height: 300px;
    margin-top: 40px;
}

.banner-sobre-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artigo-imagem {
    width: 100%;
    height: 250px;
}

.artigo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.artigo-card {
    margin: 20px 0;
    padding: 4%;
    background: #dfdcdc;
}

.artigo-card {
    border-radius: 8px;
}

.artigo-dados {
    background: #fff;
    padding: 20px 10px;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1px;
}

.historico-dados p {
    margin-bottom: 15px;
}

@media screen and (min-width:800px) {

    .artigo-card {
        margin: 0;
        padding: 0;
        background: #f2f2f2;
    }

    .artigo-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .artigo-imagem {
        width: 40%;
    }

    .artigo-dados {
        width: 58%;
    }
    
    .historicos-imagem {
        height: 1000px;
    }

    section {
        margin: 100px 0;
    }
}